---
---

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div class="page__hero--overlay" style="background-image: url('images/home/hero.jpg');">
      <div class="wrapper" style="text-align:center;">
        <h1 class="page__title" itemprop="headline" style="">
            Tricorder   
        </h1>
          <p class="page__lead" style="text-align:center;">A tricorder in the fictional Star Trek universe is a multifunction hand-held device used for sensor scanning, data analysis, and recording data. We use the analogy for the software to deploy NFV cloud-native software to act as a Tricorder in being able to tell the health and status of the deployment as well as to be able to repair and optimize the deployment.  </p>
          <p>
            <a href="/devops/" class="btn btn--large"><i class='fa fa-step-forward'></i> Get Started!</a>
            <a href="https://www.youtube.com/watch?v=ZpUnsYjMBEA" class="btn btn--large" data-lity><i class='fa fa-play-circle-o'></i> Watch Video</a>  
          </p>
      </div>
    </div>

    <div id="main" role="main">
      <article class="splash" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}

        <section class="page__content" itemprop="text">
          {{ content }}
        </section>
      </article>
    </div>

    <div class="page__footer">
      <footer>
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
